# Flutter
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins*
mobile/.packages
mobile/pubspec.lock
mobile/linux/
mobile/web/

# Python
backend/__pycache__/
backend/*.pyc
backend/.env
backend/*.db
backend/app/__pycache__/
backend/app/**/*.pyc

# Java
backend-spring/target/
backend-spring/.gradle/
backend-spring/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
